.Header {
  font-family: Roboto, sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Header > .navigation {
  margin: 0 auto;
  width: 90%;
}

.Header > .navigation > .navigation__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.Header > .navigation .navigation__logo {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
}

.Header > .navigation .navigation__element {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.Header > .navigation .navigation__element a {
  text-decoration: none;
  color: black;
}

.Header > .navigation .navigation__element a:hover {
  color: black;
  color: #e10050;
}
